name: Auto Close Issues

on:
  issues:
    types: [labeled]

jobs:
  auto-close:
    runs-on: ubuntu-latest
    if: |
      contains(github.event.label.name, 'wontfix') ||
      contains(github.event.label.name, 'completed')
    steps:
      - name: Close issue
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              state: 'closed'
            })